body {
  margin: 0;
  background-color: rgb(15, 3, 60);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backGround {
  width: 33%;
  height: auto;
  padding: 40px 40px;
  background-color: green;
  margin: 20% 20%;
  border-radius: 30px;
}
.titleBackGround {
  display: flex;
  justify-content: center;
}
#inputSection {
  display: flex;
  justify-content: space-around;
}
#inputToDo {
  width: 70%;
  margin: 0px 10px;
  padding: 12px 35px;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
}
.Buttons {
  width: 15%;
  cursor: pointer;
  margin: 5px 0px;
  padding: 2px 8px;
  color: white;
  background-color: rgb(15, 3, 60);
  border: 2px solid rgb(15, 3, 60);
  border-radius: 30px;
  vertical-align: middle;
}
.contentBackGround {
  display: flex;
  flex-direction: column;
}
.listcontent {
  width: 70%;
  margin: 0px 10px;
  padding: 12px 0px;
}
#todoListBox {
  background-color: rgb(0, 148, 0);
  border-radius: 30px;
  margin-top: 20px;
  padding: 12px 35px;
}
.litagstyle {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.todoListContent {
  display: flex;
  justify-content: space-between;
}
